<div class="toast-box error" *ngIf="singletonData.showError && !singletonData.showSuccess">
  <div class="toast-text">
    {{singletonData.errorText}}
  </div>
  <div class="toast-close">
    <ion-icon name="close" margin-right (click)="hideToast()"></ion-icon>
  </div>
</div>