ion-app {
  background-color: transparent !important;
  page-recognition {
    ion-content, ion-content.md, ion-content.ios {
      background-color: transparent !important;
      background: none !important;
      .scroll-content {
        padding: 0 !important;
      }
    }
    ion-header {
      ion-toolbar {
        ion-buttons {
          button {
            span {
              font-size: 1.5em;
              color: #fff
            }
          }
        }
        .toolbar-background {
          background-color: rgba(76,109,249, 0.5);
        }
      }
    }
  }
}



