<ion-header hideWhen="landscape">
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear icon-only (click)="closeRecognition()">
        <ion-icon name="ios-arrow-back" class='toolbar-icon'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>