page-home {
  .btn-start-finder-mode {
      margin-top:15%;
      width: 60%;
      height: 50px;
  }
  .scroll-content{
    //background: url("../assets/imgs/bg.jpg") no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 56px;
  }
}
