<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAGES.Home.name' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only [value]="'CODE' | translate" (click)="languageChanged($event.target.value)">
        {{ 'BUTTONS.btn_lang' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <error-toast></error-toast>
  <success-toast></success-toast>
  <div class="swipe-content" (swipe)="swipeEvent($event)">
    <div class="table-container">
      <div class="table-cell-container">
        <div class="logo"></div>
        <p text-center padding-top class="header-size">{{ 'PAGES.Home.title' | translate }}
          <br/> {{ 'PAGES.Home.subTitle' | translate }}
        </p>
        <button ion-button round class="btn-start-finder-mode btn-gradient" (click)="startFinderMode()">{{ 'PAGES.Home.start_scan' | translate }}</button>
      </div>
    </div>
  </div>
</ion-content>