page-login {
  .btn-auth {
    margin: 20 auto;
    display: block;
    min-width: 60%
  }

  .btn-register {
    background-color: color($colors, secondary)
  }

  .btn-signin-google {
    background-color: #4285F4
  }
  .btn-signout{
    background-color: #ff0000
  }
}
