<ion-header no-border>
  <ion-navbar>
    <ion-icon class="btn-back" (click)="onBackButtonClicked()" name="ios-arrow-back"></ion-icon>
    <ion-title>
      {{ 'PAGES.Login.name' | translate }}
    </ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only [value]="'CODE' | translate" (click)="languageChanged($event.target.value)">
        {{ 'BUTTONS.btn_lang' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="animated fadeIn login auth-page">
  <error-toast></error-toast>
  <success-toast></success-toast>

  <div class="table-container">
    <div class="table-cell-container">
      <div class="logo"></div>

      <div class="login-content">
        <!-- Login form -->
        <form class="list-form" [formGroup]="loginForm">
          <ion-item>
            <ion-label floating>
              <ion-icon name="mail" item-start class="text-primary"></ion-icon>
              {{ 'PAGES.Login.form.email' | translate }}
            </ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
            <ion-icon *ngIf="!loginForm.controls.email.valid && loginForm.controls['email'].dirty" name="close" item-right class="text-danger"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon name="lock" item-start class="text-primary"></ion-icon>
              {{ 'PAGES.Login.form.password' | translate }}
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <ion-icon *ngIf="!loginForm.controls.password.valid && loginForm.controls['password'].dirty" name="close" item-right class="text-danger"></ion-icon>
          </ion-item>
        </form>

        <!-- <p text-right ion-text color="secondary" tappable (click)="forgotPass()">
      <strong> {{ 'PAGES.Login.form.forgot_password' | translate }}</strong>
    </p> -->

        <div>
          <button ion-button icon-start block color="dark" tappable (click)="singin('password')" [disabled]="!loginForm.valid">
            <ion-icon name="log-in"></ion-icon>
            {{ 'PAGES.Login.form.singin_button' | translate }}
          </button>

          <p text-center ion-text color="secondary"> {{ 'PAGES.Login.form.social_sign_in' | translate }}</p>

          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <button ion-button icon-only block class="btn-facebook" (click)="singin('facebook')">
                  <ion-icon name="logo-facebook"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-4>
                <button ion-button icon-only block class="btn-twitter" (click)="singin('twitter')">
                  <ion-icon name="logo-twitter"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-4>
                <button ion-button icon-only block class="btn-gplus" (click)="singin('google')">
                  <ion-icon name="logo-googleplus"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>


        <!-- Other links -->
        <div text-center margin-top>
          <span ion-text color="secondary" tappable (click)="register()">{{ 'PAGES.Login.form.sign_up_promp' | translate }}
            <strong> {{ 'PAGES.Login.form.sign_up_button' | translate }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>

</ion-content>