<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="{{ 'BUTTONS.Menu.home' | translate }}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{ 'BUTTONS.Menu.about' | translate }}" tabIcon="information-circle"></ion-tab>
  <ion-tab (ionSelect)="showIntro()" tabTitle="{{ 'BUTTONS.Menu.intro' | translate }}" tabIcon="help-circle"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="Development" tabIcon="bowtie"></ion-tab> -->
</ion-tabs>