<ion-header hideWhen="landscape">
  <ion-toolbar>
        <ion-buttons start>
              <button ion-button clear icon-only (click)="closePlayback()">
                    <ion-icon name="close" class='toolbar-icon'></ion-icon>
              </button>
        </ion-buttons>
        <!-- <ion-buttons left>
              <button ion-button clear icon-only (click)="showInfo()">
                  <ion-icon name="information-circle"  class='toolbar-icon'></ion-icon>
              </button>
        </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe style="width:1px; min-width:100%; *width:100%; background-color:#000; height: 100%;" [src]="mediaUrl | safe" frameborder="0">
  </iframe>
</ion-content>
