page-media{
  ion-header{
      ion-toolbar{
          ion-buttons{
              button{
                  span{
                      font-size:1.5em;
                      color:#fff
                  }
              }
          }
          .toolbar-background {
              background-color: transparent;
          }
      }
  }
  .scroll-content {
      margin: 0 !important;
  }
}
