<div class="toast-box success" *ngIf="singletonData.showSuccess && !singletonData.showError">
  <div class="toast-text">
    {{singletonData.successText}}
  </div>
  <div class="toast-close">
    <ion-icon name="close" margin-right (click)="hideToast()"></ion-icon>
  </div>
</div>