<div *ngIf="singletonData.showLoading" class="splash">
  <div class="splash-text-area">
    <p>{{singletonData.loadingText}}</p>
  </div>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    <div class="rect5"></div>
  </div>
</div>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'SIDE_MENU.name' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" margin-right></ion-icon>
        {{p.title | async}}
      </button>
      <button menuClose ion-item (click)="openLogin()" *ngIf="!singletonData.loggedIn">
        <ion-icon name="log-in" margin-right></ion-icon>
        Login
      </button>
      <button menuClose ion-item (click)="openProfile()" *ngIf="singletonData.loggedIn">
        <ion-icon name="contacts" margin-right></ion-icon>
        Profile
      </button>
    </ion-list>
  </ion-content>

  <ion-footer no-border>
    <ion-list>
      <p ion-item>
        <ion-icon name="wifi" margin-right></ion-icon>
        {{ 'SIDE_MENU.connection' | translate }}: {{networkType | async}}
        <br>
        <span class="btn-enable-network" *ngIf="!isNetworkEnabled">(
          <a (click)="openNetworkSettings()">{{ 'SIDE_MENU.enableConnection' | translate }}</a>)</span>
      </p>
    </ion-list>
    <div class="side-version">
      <p text-center>{{ 'SIDE_MENU.version' | translate }}: {{appVersionNumber}}</p>
    </div>
    <!-- <img margin-vertical class="side-logo" src="assets/imgs/saorsa-logo.png" alt="logo"> -->
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>