//Toolbar
$GRADIENT_LEFT :color($colors, primary);
$GRADIENT_RIGHT:color($colors, secondary);

.toolbar-background-md {
  background: -o-linear-gradient(right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: -moz-linear-gradient(right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: linear-gradient(to right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background-repeat: repeat-x;
}

.toolbar-background-ios{
  background: -o-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: -moz-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: linear-gradient(to right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background-repeat: repeat-x;
}
.profile-picture-container{
  padding:0 20px;
  display:table;
  min-width: 100%;
  background: linear-gradient(to right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  box-shadow:
  inset 0 -130px 0 #fff;
  height:260px;
  line-height:260px;
}
.profile-picture{
  display: inline-block;
  width: 100%;
  height: 200px;
  margin:auto;
  vertical-align:middle;
  text-align:center;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  // display: flex;
  align-items: center;
  justify-content: center;
  background: -o-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: -moz-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: linear-gradient(to right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background-repeat: repeat-x;
}

.btn-gradient{
  background: -o-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: -moz-linear-gradient(bottom right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
  background: linear-gradient(to right, $GRADIENT_LEFT, $GRADIENT_RIGHT);
}

.splash-text-area{
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  margin: 50% 10%;
}

.spinner {
  position: absolute;
  bottom: 100px;
  margin:  auto;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 20px;
}
 
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 12px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
     background:#fff;;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect2 {
     background:#fff;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
     background:#fff;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
     background:#fff;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
     background:#fff;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

 
.logo {
  max-width: 200px;
}

.swipe-content {
  width: 100%;
  height: 100%
}

.btn-enable-network {
  padding-left: 32px
}

.side-version {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede
}

.side-logo {
  display: block;
  height: 50px;
  margin: auto
}

.btn-back {
  font-size: 22px;
  float: left;
  margin: 0 14px;
  padding: 0 2px;
  color:#fff;
}

.contacts-list {
  font-size:1.2em;
  padding: 5px 0
}
.text-left{
  //text-align: left;
}

.header-size{
  font-size:1.3em;
  color: color($colors, primaryGrey);
  padding-top:0 !important;
  margin:0;
}

.logo {
  width: 15%;
  height: 15%;
  margin: auto;
  border-radius: 10%;
  background: url("../assets/imgs/logo.svg") no-repeat;
  background-size: 100%;
}
// style for auth pages
.auth-page, .contact-page {
  background-color: #fff;
  &::after {
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .scroll-content {

    .login-content, .contact-content, .reg-content {
      width: 86%;
      margin:auto;

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
}

// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}
.text-danger{
  font-size: 1em;
  color: color($colors, danger);
}
ion-list-header{
  font-size:1.6rem !important;
  color: color($colors, primary) !important;
  margin-bottom: 0 !important;
}
ion-title{
  text-align: center !important;
}
.toolbar-title{
  margin-left:-19px !important;
}
.avatar{
  border: 3px solid #fff;
  border-radius: 50%;
  max-height: 150px
}

.modal-fullscreen {
  .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
  }
}

.toast-box{
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size:1.5rem;
  color:#fff
}
.toast-box.error{
  background-color: color($colors, danger);
}
.toast-box.success{
  background-color: color($colors, success);
}
.toast-text{
  text-align: center;
  width: 100%;
  padding:0 10px;
}
.toast-close{
  float:left;
}
.table-cell-container{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.table-container{
  display:table;
  width: 100%;
  height: 100%;
}