<ion-content class="tutorial-page">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of walktroughts">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="skip()">{{ 'PAGES.Intro.skipButton' | translate }}</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
      <button ion-button large clear icon-end color="primary" (click)="goToHome()" [hidden]="!slide.continue">
        {{slide.continue}}
        <ion-icon name='arrow-forward'></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
