<ion-header>
  <ion-navbar>
    <ion-icon class="btn-back" (click)="onBackButtonClicked()" name="ios-arrow-back"></ion-icon>
    <ion-title>
      {{ 'PAGES.Contact.name' | translate }}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contact-page">
  <error-toast></error-toast>
  <success-toast></success-toast>
  <div class="table-container">
    <div class="table-cell-container">
      <div class="logo"></div>
    
      <div class="contact-content">
        <form class="list-form" [formGroup]="contactForm">
          <ion-item>
            <ion-label floating>
              <ion-icon name="person" item-start class="text-primary"></ion-icon>
              Full Name
            </ion-label>
            <ion-input type="text" formControlName="name" [value]="customUser.displayName"></ion-input>
            <ion-icon *ngIf="!contactForm.controls.name.valid && contactForm.controls['name'].dirty" name="close" item-right class="text-danger"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <ion-icon name="mail" item-start class="text-primary"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" formControlName="email" [value]="customUser.email"></ion-input>
            <ion-icon *ngIf="!contactForm.controls.email.valid && contactForm.controls['email'].dirty" name="close" item-right class="text-danger"></ion-icon>
          </ion-item>

          <ion-item padding>
            <ion-label>
              <ion-icon name="help" item-start class="text-primary"></ion-icon>
              {{ 'PAGES.Contact.question' | translate }}:
            </ion-label>
            <ion-textarea rows="8" formControlName="question"></ion-textarea>
          </ion-item>
        </form>
        <button ion-button icon-start block color="dark" tappable [disabled]="!contactForm.valid" (click)="logForm()">
          <ion-icon name="send"></ion-icon>{{ 'PAGES.Contact.submit' | translate }}</button>

      </div>
    </div>
  </div>
</ion-content>