<ion-header>
  <ion-navbar>
    <ion-icon class="btn-back" (click)="onBackButtonClicked()" name="ios-arrow-back"></ion-icon>
    <ion-title>
      {{ 'PAGES.Settings.name' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border no-lines inset>
    <ion-list-header>
      General
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'PAGES.Settings.showIntro' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="showIntro" (ionChange)="updateShowIntro($event.checked)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select interface="popover" (ionChange)="languageChanged($event)" [(ngModel)]="selectedLanguage">
        <ion-option value="en">English</ion-option>
        <ion-option value="bg">Български</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list no-lines inset>
    <ion-list-header>
      Notification
    </ion-list-header>

    <ion-item>
      <ion-label>General</ion-label>
      <ion-toggle disabled="true" [checked]="true" (ionChange)="updateGeneralNotif($event.checked)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Updates</ion-label>
      <ion-toggle [(ngModel)]="updatesNotif" (ionChange)="updateUpdatesNotif($event.checked)" [disabled]="!singletonData.loggedIn"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Newsletter</ion-label>
      <ion-toggle [(ngModel)]="newsNotif" (ionChange)="updateNewsNotif($event.checked)" [disabled]="!singletonData.loggedIn"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Advertisements</ion-label>
      <ion-toggle [(ngModel)]="advertsNotif" (ionChange)="updateAdvertsNotif($event.checked)" [disabled]="!singletonData.loggedIn"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list no-lines inset>
    <ion-list-header>
      Application
    </ion-list-header>
    <ion-item (click)='checkForUpdates()'>
      {{ 'PAGES.Settings.checkForUpdates' | translate }}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>

    <ion-item (click)='rateApp()'>
      {{ 'PAGES.Settings.rateApp' | translate }}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>