<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAGES.History.name' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="swipe-content" (swipe)="swipeEvent($event)">
    <ion-list *ngIf="history">
      <button ion-item *ngFor="let item of history" (click)="showMedia(item.url)">
        <ion-avatar item-start>
          <img src="{{item.img || 'assets/imgs/logo.svg'}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3>{{item.desc}}</h3>
      </button>
    </ion-list>
    <p *ngIf="history && !history.length">There is no history yet.</p>
  </div>
</ion-content>
