<ion-header no-border>
  <ion-navbar>
    <ion-icon class="btn-back" (click)="onBackButtonClicked()" name="ios-arrow-back"></ion-icon>
    <ion-title>
      {{ 'PAGES.Profile.name' | translate }}
    </ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only (click)="logout()">
        <ion-icon class="btn-back" name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="profile-picture-container">
    <div class="profile-picture">
      <img [src]="customUser.photoURL" alt="Avatar" class="avatar">
    </div>
  </div>
  <div class="profile-name-container">
    {{customUser.displayName}}
  </div>

  <div class="profile-form">
    <div class="profile-info">
      <div class="profile-item-header">
        <ion-icon name="mail" item-start class="profile-item-icon"></ion-icon>
        Email
      </div>
      <div class="profile-item-body">
        {{customUser.email}}
      </div>
    </div>
    <div class="profile-info">
      <div class="profile-item-header">
        <ion-icon name="key" item-start class="profile-item-icon"></ion-icon>
        Login Provider
      </div>
      <div class="profile-item-body">
        {{customUser.providerData[0].providerId}}
      </div>
    </div>
  </div>

</ion-content>