page-profile {
    .profile-name-container{
        text-align: center;
        margin-top: -65px;
    }
    .profile-form{
        margin: 0 2rem;
    }
    .profile-info{
        padding:2rem;
    }
    .profile-item-header{
        font-size: 1.5rem;
        color: #479AFE;
        padding-bottom: 1rem;
    }
    .profile-item-icon{
        padding-right: 5px;
    }
    .profile-item-body{
        font-size: 1.6rem;
    }
    .profile-name-container{
        font-size:2.2rem;
    }
}
