<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Development</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <error-toast></error-toast>
  <success-toast></success-toast>
  <div class="swipe-content">
    <div class="logo"></div>
    <p text-center padding-top class="header-size" color="primaryGrey">{{ 'PAGES.Home.title' | translate }}
      <br/> {{ 'PAGES.Home.subTitle' | translate }}
    </p>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="showSuccess()">Show Success</button>
    </div>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="showError()">Show Error</button>
    </div>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="fatalError()">Fatal error</button>
    </div>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="nonfatalError()">Non-Fatal error</button>
    </div>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="customLoging()">Custom Loging</button>
    </div>
    <div>
      <button ion-button round class="btn-dev btn-gradient" (click)="sendInfo()">Send info</button>
    </div>
  </div>
</ion-content>