<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'PAGES.About.name' | translate }}
    </ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only [value]="'CODE' | translate" (click)="languageChanged($event.target.value)">
        {{ 'BUTTONS.btn_lang' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <error-toast></error-toast>
  <success-toast></success-toast>
  <div class="swipe-content" (swipe)="swipeEvent($event)">
    <div class="table-container">
      <div class="table-cell-container">
        <div class="logo"></div>
        <p text-center class="header-size">{{ 'PAGES.About.title' | translate }}</p>
        <p text-center>{{ 'PAGES.About.description' | translate }}</p>

        <div padding class="contact-container">
          <h5>{{ 'PAGES.Contact.title' | translate }}</h5>
          <!-- <div class="contacts-list">
            <ion-icon name="at"></ion-icon>
            <label padding-left>
              <a href="#" (click)="showContacts()">
                Direct
              </a>
            </label>
          </div> -->
          <div class="contacts-list">
            <ion-icon name="mail"></ion-icon>
            <label padding-left>
              <a href="mailto:cr@adar.group">
                cr@adar.group
              </a>
            </label>
          </div>
          <div class="contacts-list">
            <ion-icon name="call"></ion-icon>
            <label padding-left>
              EN
              <a href="tel:+359 888 87 2929">
                +359 888 87 2929
              </a>
            </label>
          </div>
          <div class="contacts-list">
            <ion-icon name="call"></ion-icon>
            <label padding-left>
              BG
              <a href="tel:+359 878 57 7560">
                +359 878 57 7560
              </a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>