page-about {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around
  }

  .description {
    font-size: 1.2em
  }
  .scroll-content{
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 56px;
  }
  .contact-container{
    text-align: left !important;
  }
}
